
/* homepage */



}
.main img.brand{
	width: 40%;
	float: center;
	margin:	20px auto auto 30%;
	align-items: center;
	position: relative;
	border-radius: 20px;
	align-items: center;
	display: block;

}
.content img.subcontent{
	width: 40%;
	float: center;
	margin:	1% auto;
	align-items: center;
	display: block;
	border-radius: 10px;
	border-width: 1px;
	border-color: black;
	border-width: 1px;
	position: relative;
}

 
 /* contact-template */

.contact-page{
	padding: 0;
	margin: 0;

}
	.contact-page .div-left{
	  	background-color:#061c47;
	  	margin-bottom: 5%;
		margin-top: 5%;
	 	border-radius:10px;
	 	align-items: center;
	 	align-content:center;
	 	float: left;
	 	border: 1px;
	 	position: relative;
	 	width: 50%;
	 	height: 70%;
	 	border-color: black;
	 	display: block;
	 	font-color:white;
	 	display:block;
	 	margin-left: 1%;
	 }

.contact-page .div-left input{
	margin-left: 40px;
	margin-top: 10px;
	float: left;
	display:block;
	position:relative;
	align-content: 100%;
	overflow: auto;
	width: 90%;
	height: 50%;
}

.contact-page .div-left .send {
	align-items: center;
	margin-left: 80%;
	margin-bottom: 10%;
}
/*
.contact-page .div-left img.sent{
	
	width: 10%;
	float: left;
	position: relative;
	float: right;

}
*/

.contact-page .div-left p{
	margin-left: 40px;
	font-size: 30px;
	font-color: white;
	text-align: left;
	color: white;

}



.contact-page .div-right-top{
	margin: 0;
	padding: 0;

}

.contact-page .div-right-top{
	background-color: #fc9ad2;
 	border-radius:10px;
 	float: left;
 	border: 1px;
 	position: relative;
 	width: 45%;
 	display: block;
 	margin: 2% auto auto 3%; 


 }
 .contact-page .div-right-top p{
 	text-align: left;
 	position: relative;
 	margin-left: 20%;
 	text-align: left;

 }
.contact-page .div-right-top img{
	width: 10%;
	float: right;
	position: absolute;
	float: right;
	margin-left: -20%;

}


.contact-page .div-right-bot iframe{
	margin: 1% auto auto 7%;
	border-color:red;
	border: 5px;
	background-color: black;

}



/* ABOUT */

.about-grid{
	display: flex;
	margin: -5% 0 5% 0;
	padding: 0;
}


/*left display */
.about-grid .content-left{
 	display: block;
 	margin: 10% 8% 0% 10% ;
 	position: absolute;
 	font-family: snickles;
 	font-size: 60px;

 }

.about-grid  .content-left img.tool{
	width: 20%;
	float: left;
	margin:	0 auto 0 15%;
	position: relative;
	border-radius: 20px;
	align-items: left;
	margin-top: 25px;
	margin-right: 5px;
}

.about-grid  .content-right{
 	background-color: lightblue;
 	border-radius: 300px;
 	margin: 100% 20% 0% 50%;
 	border-radius:100px;
 	margin-right: 20px;
 	margin-top: 110px;
 	align-items: right;
 	align-content: right;
 	float: right;
 	border: 1px;
 	position: relative;
 	width: 50%;
  	}

 .about-grid  .content-right img.shock{
 	width: 20%;
 	margin:auto;

  }

  .about-grid  .content-right p.text{
  	font-family: snickles;
  	text-align: center;
  	font-size: 40px;
  }

.about-grid  .content-right p.text{
  	font-family: Microsoft Yahei UI Light 13;
  	text-align: center;
  	font-size: 40px;
  	grid-column: 2/2;
  	display: grid;
  }

  #blink {
            font-size: 50px;
            font-weight: bold;
            color: 44,62,80;
            transition: 0.5s;
        }


   /* HEADER */

	.nav
    {
		position: sticky;
		background: #fc9ad2;
		width: 100vw;

		/* layout*/
		display:grid;
		grid-auto-flow: column;
		grid-template-columns: 20px 1fr 1fr;
		margin: 0;
		padding: 0;
	
	}

	.nav .logo-container{
		height: 50px;
		grid-column: 2/3;
	}

 	.nav .logo-container img{
 		height: 100%;
 		width: auto;
 	}

 	.nav .Menu {
 		list-style: none;
 		margin: 0;
 		padding: 0;
 		display: grid;
 		grid-column: 3/3;
 		grid-auto-flow: column;
 		align-items: center;
 		grid-auto-columns: 120px;
 		text-align: right;
 		font-size: 25px;
 		font-weight: 20;
 		background-color: #061c47;
 		line-height: 50px;
 		z-index: 1;
 		border-bottom-left-radius: 80px 100px;
 	}

 	.nav .Menu a{
 			text-decoration: none;
 			border: .1px solid white;
 			padding: 1px 10px;
 			border-radius: 5px;
 			font-size: 20px;
 			color: white;

 	}
/*
 	.nav .Menu li{
 		display: inline-block;
 		line-height: 80px;
 	}
*/

/* for product */
 	.shop-container{

 		margin-left: 10%;
 		margin-right: 10%;
	}

	.entry-header h1.entry-title{
	text-align: center;
	}


	.entry-header .post-thumbnail{
		align-items: center;
		margin-left: 10%;
	}

	.woocommerce-product-gallery summary entry-summary{
		margin-left: 30%;
	}

	.woocommerce-notices-wrapper woocommerce-checkout col2-set col-1 woocommerce-billing-fields__field-wrapper{
		margin-left: 10%;
	
	}




/*	menu */

	.
/*
	.topnav-right a{
		text-decoration: none;
		color:orange;
		width: 100%;
		display: block;
		padding: 10px 10px;
		font-weight: bold;
		font-family: arial;
		font-size: 20px;
		text-align: center;
		margin: 20 auto 0 auto;
	}
	.topnav-right li{
		display: inline-block;
	}
	.topnav-right ul {
	  	background: rgb(238,174,202);
		background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(242,86,154,1) 3%, rgba(3,2,17,1) 100%);
	 	list-style: none;
	  	margin: 1% auto;
	  	padding: 2;
	  	text-align: right;
	  	margin-right: 10px;
   }

	.topnav-right a:hover {
	  	background-color: #ddd;
	  	color: grey;
}
/*.topnav-right a.log{
	color: white;
	position: 	relative;	
	border:-5px solid transparent;
	border-radius: 	5px;
	font-size: 15px;
	text-decoration: none;
	margin-right: 50px;
	
}
*/






